{% extends 'base.html' %}
{% block title %}Conversiones de Divisas{% endblock %}
{% block content %}
<h2>Conversiones de Divisas</h2>
<table class="table">
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Monto Origen</th>
      <th>Monto Destino</th>
      <th>Tasa</th>
      <th>Fecha</th>
      <th>Descripción</th>
    </tr>
  </thead>
  <tbody>
    {% for c in conversiones %}
    <tr>
      <td>{{ c.tipo_operacion }}</td>
      <td>{{ c.monto_origen }} {% if c.tipo_operacion == 'compra' %}Bs{% else %}USD{% endif %}</td>
      <td>{{ c.monto_destino }} {% if c.tipo_operacion == 'compra' %}USD{% else %}Bs{% endif %}</td>
      <td>{{ c.tasa_usd }}</td>
      <td>{{ c.fecha_conversion }}</td>
      <td>{{ c.descripcion|default:"N/A" }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}